In [27]:
import pandas as pd
import numpy as np
from datetime import datetime

from tqdm.notebook import tqdm

import matplotlib.pyplot as plt

%matplotlib inline

from sklearn.feature_extraction.text import TfidfTransformer, CountVectorizer, TfidfVectorizer
from sklearn.neighbors import KNeighborsRegressor

In [2]:
links = pd.read_csv('E:\\Python\\RSML-2\\RSML_HW1\\links.csv')
movies = pd.read_csv('E:\\Python\\RSML-2\\RSML_HW1\\movies.csv')
ratings = pd.read_csv('E:\\Python\\RSML-2\\RSML_HW1\\ratings.csv')
tags = pd.read_csv('E:\\Python\\RSML-2\\RSML_HW1\\tags.csv')

In [3]:
tags.head(20)

    userId  movieId                tag   timestamp
0        2    60756              funny  1445714994
1        2    60756    Highly quotable  1445714996
2        2    60756       will ferrell  1445714992
3        2    89774       Boxing story  1445715207
4        2    89774                MMA  1445715200
5        2    89774          Tom Hardy  1445715205
6        2   106782              drugs  1445715054
7        2   106782  Leonardo DiCaprio  1445715051
8        2   106782    Martin Scorsese  1445715056
9        7    48516       way too long  1169687325
10      18      431          Al Pacino  1462138765
11      18      431           gangster  1462138749
12      18      431              mafia  1462138755
13      18     1221          Al Pacino  1461699306
14      18     1221              Mafia  1461699303
15      18     5995          holocaust  1455735472
16      18     5995         true story  1455735479
17      18    44665       twist ending  1456948283
18      18    52604    Anthony Hopkins  1457650696
19      18    52604    courtroom drama  1457650711

In [30]:
set(tags.tag)

{'Post apocalyptic',
 'Medieval',
 'too long',
 'cattle drive',
 'free to download',
 'stephen king',
 'Seth MacFarlane',
 'Ben Affleck',
 'Arthur C. Clarke',
 'Henry Darger',
 'claustrophobic',
 'joss whedon',
 'computer',
 'food',
 'elegiac',
 'child abuse',
 'ogres',
 'E.M. Forster',
 'rape',
 'blood splatters',
 '2001-like',
 'convent',
 'Australia',
 'narrated',
 'Canada',
 'wine',
 'Dodie Smith',
 'C.S. Lewis',
 'cross dressing',
 'abstract',
 'assassination',
 'hotel',
 'scandal',
 'stylish',
 'Kevin Costner',
 'mel gibson',
 'best comedy',
 'Sundance award winner',
 'Jack Nicholson',
 'depression',
 'Favelas',
 'homosexuality',
 'Rogers and Hammerstein',
 'wry',
 'Insane',
 'immigration',
 'Stand Up',
 'John Travolta',
 'Horrid characterisation',
 'tobacco',
 'unnecessary sequel',
 'CGI',
 'sad',
 'plot twist',
 'Simon Pegg',
 'Hollywood',
 'Russell Crowe',
 'Eric Bana',
 'visual',
 'wedding',
 'loneliness',
 'rebellion',
 'Orlando Bloom',
 'achronological',
 'no dialogue',
 'intense',
 'sofia coppola',
 'Charles Dickens',
 'knights',
 'confusing',
 'death',
 'Anne Boleyn',
 'stupid',
 'Salieri',
 'Arnold Schwarzenegger',
 'Oscar (Best Music - Original Score)',
 'photography',
 'adultery',
 'good dialogue',
 'lesbian',
 'screwball',
 'Watergate',
 'los angeles',
 'Kevin Smith',
 'twins',
 'Shakespeare sort of',
 'Lloyd Dobbler',
 'Cole Porter',
 'rabbi',
 'Train',
 'disjointed timeline',
 'bad-ass',
 'meditative',
 'depressing',
 'unoriginal',
 'system holism',
 'Tolstoy',
 'Jessica Alba',
 'multiple storylines',
 'aging',
 'mecha',
 'Titanic',
 'prom',
 'pizza beer',
 'post-college',
 'thought-provoking',
 'adoption',
 'court',
 'pulp',
 'stand-up comedy',
 'Crude humor',
 'creativity',
 'Peta Wilson',
 'macho',
 'Kurt Russell',
 'mermaid',
 'character study',
 'Great performances',
 'Stephen King',
 'magic board game',
 'new composer',
 'a clever chef rat',
 'thriller',
 'Tom Clancy',
 'baseball',
 'Viggo Mortensen',
 'soccer',
 'pregnancy',
 'awkward',
 'bad script',
 'Monty Python',
 'prejudice',
 'anthology',
 'bluegrass',
 'Scotland',
 'Ralph Fiennes',
 'based on a play',
 'Christina Ricci',
 'Brad Pitt',
 'end of the world',
 'hip hop',
 'Coen Brothers',
 'river',
 'insightful',
 'Afghanistan',
 'philosophical issues',
 'star wars',
 'poetic',
 'philosophy',
 'Pee Wee Herman',
 'black humor',
 'Humour',
 'ferris wheel',
 'Peter Pan',
 'insomnia',
 'economics',
 'Unique',
 'Insurance',
 'Beethoven',
 'based on a true story',
 'interracial marriage',
 'jungle',
 'police',
 'Tilda Swinton',
 'ballroom dance',
 'drugs & music',
 'Tom Hardy',
 'horror',
 'photographer',
 'flood',
 'Made me cry',
 'brutality',
 'based on a book',
 'bizarre',
 'Agatha Christie',
 'morality',
 'slow paced',
 'AIDs',
 'Nun',
 'children',
 'crappy sequel',
 'tragedy',
 'Philip K. Dick',
 'chick flick',
 'island',
 'unlikely hero',
 'missionary',
 'sex',
 'General Motors',
 'confusing ending',
 'racism',
 'remaster',
 'schizophrenia',
 'factory',
 'accident',
 'crime',
 'chess',
 'Guns',
 'Dickens',
 'Batman',
 'drugs',
 'adult humor',
 'singletons',
 'Horror',
 'film noir',
 'Dwayne Johnson',
 'widows/widowers',
 'butler',
 'lack of plot',
 'nightclub',
 'action packed',
 'edward norton',
 'intertwining storylines',
 'It was melodramatic and kind of dumb',
 'mobster',
 'alcoholism',
 'aquarium',
 'freedom of expression',
 'fighting',
 'chilly',
 'interesting scenario',
 'French',
 'humor',
 'cinematography',
 'Norman Bates',
 'saint',
 'imaginary friend',
 'EPIC',
 'non-linear',
 'preacher',
 'character development',
 'AWESOME',
 'love story',
 'Istanbul',
 'con men',
 'Music',
 'weird',
 'President',
 'Jane Austen',
 'David Bowie',
 '1920s',
 'Boxing story',
 'shakespeare',
 'captain nemo',
 'Union',
 'prison',
 'Up series',
 'enigmatic',
 'Holocaust',
 'Inigo Montoya',
 'technology',
 'sequel',
 'Amish',
 'crime scene scrubbing',
 'Vulgar',
 'Animal movie',
 'doctors',
 'stupid ending',
 'prodigies',
 'Magneto',
 'oldie but goodie',
 'Romans',
 'Rolling Stone',
 'Chris Evans',
 'action',
 'Not available from Netflix',
 'big budget',
 'Mount Rushmore',
 'postmodern',
 'Strangers on a Train',
 'Bette Davis',
 'nerds',
 'transplants',
 'mirrors',
 'fatalistic',
 'Christoph Waltz',
 'great performances',
 'doll',
 'good soundtrack',
 'superman',
 'diner',
 'S.E. Hinton',
 'marriage',
 'Ireland',
 'basketball',
 'Oscar (Best Supporting Actress)',
 'Suspense',
 'espionage',
 'Charlotte Bronte',
 'gun tactics',
 'updated classics',
 'elegant',
 'video game adaptation',
 'L.A.',
 'Nazis',
 'Rosebud',
 'cliche characters',
 'teachers',
 'radio',
 'slasher',
 'good music',
 'video',
 'old',
 'Dogs',
 'aggressive',
 'Everything you want is here',
 'goofy',
 'quotable',
 'McDonalds',
 'Sexual Humor',
 'disappointing',
 'Twist Ending',
 'spelling bee',
 'e-mail',
 'white guilt',
 'happpiness',
 'Al Pacino',
 'intimate',
 'Charlize Theron',
 'Harrison Ford',
 'Klingons',
 'Slim Pickens',
 'Gangs',
 'violence in america',
 'Wizards',
 'Quotable',
 'Julianne Moore',
 'father-son relationship',
 'nanny',
 'Jekyll and Hyde',
 'In Netflix queue',
 'Mindfuck',
 'Butler',
 'tearjerking',
 'bad science',
 'POW',
 'dreamy',
 'cheeky',
 'animal movie',
 'I see dead people',
 'Lou Gehrig',
 'Bad story',
 'Heroic Bloodshed',
 'Adam Sandler',
 'dark fairy tale',
 'deaf',
 'Rogue',
 'lord of the rings',
 'winona ryder',
 'ensemble cast',
 'space craft',
 'irreverent',
 'Capone',
 'humorous',
 'family',
 'James Stewart',
 'Funny',
 'ben affleck',
 'remake',
 'superhero team',
 'Rome',
 'drug abuse',
 'twist',
 'city politics',
 'r:violence',
 'Hayao Miyazaki',
 'voyeurism',
 'alternate endings',
 'humane',
 'casino',
 'bombs',
 'sword fight',
 'Ghosts',
 'mathematics',
 'babies',
 'stop using useless characters for filler',
 'vampires',
 'fast-paced dialogue',
 'big boys with guns',
 'John Malkovich',
 'very funny',
 'Big Brothers',
 'big name actors',
 'Borg',
 'anti-intellectual',
 'poignant',
 'sisters',
 'childish naivity',
 'aliens',
 'workplace',
 'MCU',
 'television',
 'royal with cheese',
 'tension',
 'directorial debut',
 'Mental Hospital',
 'May-December romance',
 'representation of children',
 'notable soundtrack',
 'twisted',
 'DEPRESSING',
 'Middle East',
 'rich guy - poor girl',
 'predictible plot',
 'Hungary',
 'spaghetti western',
 'Depressing',
 'evolution',
 'threesome',
 'embarassing scenes',
 'interesting characters',
 'Enterprise',
 'Anthony Hopkins',
 'really bad',
 'alternate universe',
 'revenge',
 'ark of the covenant',
 'neo-noir',
 'unexplained',
 'r:strong bloody violence',
 'British gangster',
 'Nudity (Topless)',
 'Tom Hanks',
 'Documentary',
 '1970s',
 'Jared Leto',
 'stop looking at me swan',
 'ummarti2006',
 'scifi',
 'Epic',
 'Teen movie',
 '1990s',
 'invisibility',
 'murder',
 'dark',
 'Deep Throat',
 'plastic surgery',
 'good cinematography',
 'Alicia Vikander',
 'FIGHTING THE SYSTEM',
 'great cinematography',
 'Toto',
 'cult film',
 'intellectual',
 'Bruce Willis',
 'theater',
 'Surreal',
 'adolescence',
 'beautiful cinematography',
 'obsession',
 'gun-fu',
 'multiple personalities',
 'Stanley Kubrick',
 'artistic',
 'Othello',
 'art house',
 'lawyer',
 'acting',
 '1960s',
 'motherfucker',
 'killer',
 'hula hoop',
 'Beatles',
 'multiple stories',
 'Judaism',
 'Edith Wharton',
 'meryl streep',
 'Joker',
 'cryptic',
 'gangster',
 'Oscar (Best Actress)',
 'John Goodman',
 'justice',
 'made me cry',
 'killer-as-protagonist',
 'memory',
 'bad plot',
 'Natalie Portman',
 'Jennifer Lawrence',
 'diabetes',
 'menacing',
 'terrorism',
 'Sean Connery',
 'classic',
 'Roger Avary',
 'Marvel',
 'organized crime',
 'claims to be true',
 'oil',
 'Day and Hudson',
 'grim',
 '1900s',
 'short films',
 'AS Byatt',
 'smart',
 'They Might Be Giants',
 'weak plot',
 '70mm',
 'assassin-in-training (scene)',
 'Colin Farrell',
 'austere',
 'Hal',
 'scenic',
 'Clock',
 'revolutionary',
 'Bad writing',
 'In Your Eyes',
 'geeky',
 'India',
 'trippy',
 'Juliette Lewis',
 'dreamlike',
 'moody',
 'brilliant',
 'mobsters',
 'Great movie',
 'awkward romance',
 'Ryan Reynolds',
 'incest',
 'challenging',
 'blood',
 'Thanksgiving',
 'Recap',
 'jazz',
 'domestic violence',
 'Conan',
 'ransom',
 'reflective',
 'transvestite',
 'Jim Carrey',
 'Indonesia',
 'visually stunning',
 'cerebral',
 'beautiful visuals',
 'six-fingered man',
 'Cambodia',
 'Hammett',
 'Visually stunning',
 'purity of essence',
 'indie record label',
 'Johnny Depp',
 'spying',
 'moving',
 'anger',
 'Visually appealing',
 'George Clooney',
 'audience intelligence underestimated',
 'start of a beautiful friendship',
 'new york',
 'goretastic',
 'George Lucas',
 'boxing',
 'bubba gump shrimp',
 'plot holes',
 'prostitution',
 'kung fu',
 'Veterinarian',
 'humour',
 'Missionary',
 'bad acting',
 'Nerd',
 'future',
 'Astaire and Rogers',
 'wrongful imprisonment',
 'Tennessee Williams',
 'unconventional',
 'off-beat comedy',
 'controversial',
 'art',
 'Venice',
 'music industry',
 'Gal Gadot',
 "Harley Quinn's ass",
 'FBI',
 'way too long',
 'setting:space/space ship',
 'psychological thriller',
 'memory loss',
 'Lolita theme',
 'lion',
 'conspiracy theory',
 'Matt Damon',
 'camels',
 'franchise',
 'modern fantasy',
 'oninous',
 'beat poetry',
 'Tarantino',
 'Jaime Pressly',
 'singers',
 'sports',
 'twist ending',
 'bad humor',
 'harsh',
 'unintelligent',
 'space adventure',
 'slow',
 'Paul Rudd',
 'Scott Turow',
 'quick cuts',
 'Palahnuik',
 'Oscar (Best Effects - Visual Effects)',
 'truckers',
 'bizzare',
 'King Arthur',
 'darth vader',
 'Aardman',
 'Marion Cotillard',
 'mafia',
 'nonlinear storyline',
 'No DVD at Netflix',
 'paranoia',
 'dc comics',
 'whimsical',
 'Mark Wahlberg',
 'salute to Douglas Sirk',
 'Nathan Fillion',
 'Boston',
 'small towns',
 'Wall Street',
 'quirky romantic',
 'live action/animation',
 'Priest',
 'different',
 'Death',
 'divorce',
 'bears',
 'Wolverine',
 'witty',
 'M. Night Shyamalan',
 'BEST PICTURE',
 'Soundtrack',
 'teenage pregnancy',
 'E. M. Forster',
 'abortion',
 'individualism',
 'dystopia',
 'nostalgia',
 'out of order',
 'uncomfortable',
 'space',
 'Exquisite plotting.',
 'Van Gogh',
 'Nicolas Cage',
 'Simon and Garfunkel',
 'financial crisis',
 'Paul Giamatti',
 'birds',
 'Europe',
 'gold',
 'Tolkien',
 'short stories',
 'Christopher Lloyd',
 'Emilia Clarke',
 'planes',
 'Psychological Thriller',
 "Eugene O'Neill",
 'George Bernard Shaw',
 'Star Trek',
 'infertility',
 'Metaphorical',
 'France',
 'Katzanzakis',
 'Zooey Deschanel',
 'good writing',
 'school',
 'ethics',
 'dead wife',
 'predictable',
 'mind-bending',
 'dark comedy',
 'pixar',
 'mice',
 'twists & turns',
 'Andy Samberg',
 'disturbing',
 'alter ego',
 'procedural',
 'remix culture',
 'ancient Rome',
 'Tim Burton',
 'Gambling',
 'James Cameron',
 'military',
 'Ben Stiller',
 'black comedy',
 'societal criticism',
 'mediacentralism',
 'sexuality',
 'magic',
 'survival',
 'ex-con',
 'fantasy',
 'gentle',
 'gunfight',
 'non-linear timeline',
 'nonlinear narrative',
 'masculinity',
 'Bechdel Test:Fail',
 'Hepburn and Tracy',
 'lack of story',
 'Seth Rogen',
 'Holy Grail',
 'monologue',
 'Screwball',
 'easygoing',
 'Martin Scorsese',
 'Nick Hornby',
 'Classic',
 'Liam Neeson',
 'Harvey Keitel',
 'moldy',
 'romantic',
 'Something for everyone in this one... saw it without and plan on seeing it with kids!',
 'jim carrey',
 'classic sci-fi',
 'women',
 'Will Smith',
 'iconic',
 'r:graphic sexuality',
 'Politics',
 'enjoyable',
 'a dingo ate my baby',
 'nonsense',
 'brothers',
 'Ichabod Crane',
 'writing',
 'teen',
 'beautifully filmed',
 'insanity',
 'homeless',
 'Narrative pisstake',
 'bad music',
 'Sustainability',
 'paranoid',
 'indiana jones',
 'romantic comedy',
 'Moving',
 'luke skywalker',
 'demons',
 'gothic',
 'Insanity',
 'golfing',
 'Arthur Miller',
 'Robert De Niro',
 'Myth',
 'Ninotchka remake',
 'tense',
 'Robin Williams',
 'Housekeeper',
 'lawn mower',
 'reciprocal spectator',
 'pool',
 'MacBeth',
 'unique',
 'documentary',
 'Family',
 'science fiction',
 'intelligent',
 'falling',
 'Broadway',
 'Mrs. DeWinter',
 'weddings',
 'class',
 'masterpiece',
 'psychology',
 'parenthood',
 'Steven Spielberg',
 'suspenseful',
 'great acting',
 'historical',
 'Anne Hathaway',
 'alternate reality',
 'Jean Grey',
 'dogs',
 'travolta',
 'tolkien',
 'marvel',
 'Audrey Tautou',
 'immortality',
 'Wesley Snipes',
 'black hole',
 'great soundtrack',
 'casual violence',
 'matchmaker',
 'crazy',
 'contemplative',
 'dating',
 'independent film',
 'lovely',
 'american idolatry',
 'great dialogue',
 'Dr. Strange',
 'post-apocalyptic',
 'treasure hunt',
 'religion',
 'heroine in tight suit',
 'fugitive',
 'Sad',
 'teenagers',
 'statue',
 'Homeless',
 'tension building',
 'sentimental',
 'High School',
 'secrets',
 'colourful',
 'Cerebral',
 'irony',
 'not funny',
 'subway',
 'psychopaths',
 'roald dahl',
 'holocaust',
 'Paris',
 'PTSD',
 'Bittersweet',
 'stage',
 'Tolkein',
 'slow action',
 'TERRORISM',
 'Kevin Spacey',
 'Denzel Washington',
 'gruesome',
 'double life',
 'Police',
 'batman',
 'martial arts',
 'KIDNAPPING',
 'GIVE ME BACK MY SON!',
 'race',
 'ironic',
 'Maggie Gyllenhaal',
 'strange',
 'Brooch',
 'trains',
 'dancing',
 'Cult classic',
 'amazing',
 'bad ass',
 'coen brothers',
 'film history',
 'big wave',
 'men in drag',
 'bittersweet',
 'Lonesome Polecat',
 'Shakespeare',
 'fun family movie',
 '"artsy"',
 'hitman',
 'cartoon',
 'anti-Semitism',
 'comedy',
 'lieutenant dan',
 'Jennifer Connelly',
 'assassin',
 'last man on earth',
 'R language',
 'introspection',
 'multiple roles',
 'Africa',
 'jake gyllenhaal',
 'Neil Patrick Harris',
 'mindfuck',
 'italy',
 'Olympics',
 'Ray Bradbury',
 'hit men',
 'fairy tales',
 'bad jokes',
 'Macaulay Culkin',
 'gun fu',
 'black and white',
 'Backwards. memory',
 'high school',
 'David Fincher',
 'leonardo DiCarpio',
 'Matrix',
 'emotional',
 'large cast',
 'solitude',
 'mystery',
 'Hilary Swank',
 'multiple short stories',
 'consumerism',
 'bus',
 'Black comedy',
 'hope',
 'World War II',
 'Turkey',
 'unusual',
 'heroic bloodshed',
 'mockumentary',
 'Modern war',
 'inspiring',
 'Oscar Wilde',
 'offensive',
 'r:sustained strong stylized violence',
 'Doc Ock',
 'gambling',
 'parrots',
 'fairy tale',
 'jack nicholson',
 'dark humor',
 'fish',
 'camp',
 'silly',
 'hallucinatory',
 'unsettling',
 'lyrical',
 'rug',
 'Justin Timberlake',
 'harry potter',
 'too much love interest',
 'steve carell',
 'fucked up',
 'bloody',
 'time travel',
 'tear jerker',
 'soundtrack',
 'wizards',
 'Hugh Jackman',
 'Dorothy',
 'Eva Green',
 'Atmospheric',
 'hilarious',
 'movies',
 'saints',
 'for katie',
 'the catholic church is the most corrupt organization in history',
 'tricky',
 'freedom',
 'Animation',
 'robots',
 'conversation',
 'special effects',
 'post apocalyptic',
 'Oscar (Best Cinematography)',
 'prequel',
 'Jeff Bridges',
 'mad scientist',
 'Amy Adams',
 'Adrien Brody',
 'Thor',
 'Grace',
 'golden watch',
 'Bill Murray',
 'governess',
 'social commentary',
 'psychedelic',
 'lawyers',
 'happy ending',
 'DC',
 'Andy Garcia',
 'stiller',
 'priest',
 'Jason Segel',
 'Casey Affleck',
 'families',
 'computer animation',
 'Clousseau',
 'narnia',
 'pop culture references',
 'illusions',
 'Native Americans',
 'Atomic bomb',
 'undercover cop',
 'John Cusack',
 'episodic',
 'bank',
 'Thrilling',
 'anti-war',
 'slavery',
 'fun',
 'heartbreaking',
 'terminal illness',
 'Nuclear disaster',
 'slick',
 'innovative',
 'busniess',
 'building a family',
 'helena bonham carter',
 'true story',
 'adorable',
 'Tradition!',
 'zombies',
 'melancholy',
 'coulda been a contender',
 'video games',
 'Siam',
 'heroin',
 'downbeat',
 'Harper Lee',
 'orphans',
 'South Africa',
 'Horrible directing',
 'Howard Hughes',
 'coke',
 'Well Done',
 'Quentin Tarantino',
 ...}

In [4]:
movies.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [5]:
def change_string(s):
    return ' '.join(s.replace(' ', '').replace('-','').split('|'))

In [6]:
movie_genres = [change_string(g) for g in movies.genres.values]

In [7]:
movie_genres[:20]

['Adventure Animation Children Comedy Fantasy',
 'Adventure Children Fantasy',
 'Comedy Romance',
 'Comedy Drama Romance',
 'Comedy',
 'Action Crime Thriller',
 'Comedy Romance',
 'Adventure Children',
 'Action',
 'Action Adventure Thriller',
 'Comedy Drama Romance',
 'Comedy Horror',
 'Adventure Animation Children',
 'Drama',
 'Action Adventure Romance',
 'Crime Drama',
 'Drama Romance',
 'Comedy',
 'Comedy',
 'Action Comedy Crime Drama Thriller']

In [8]:
# добавим тэги
movies_with_tags = movies.join(tags.set_index('movieId'), on='movieId')

In [9]:
movies_with_tags.head()

,movieId,title,genres,userId,tag,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,336.0,pixar,1.139046e+09
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,474.0,pixar,1.137207e+09
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,567.0,fun,1.525286e+09
1,2,Jumanji (1995),Adventure|Children|Fantasy,62.0,fantasy,1.528844e+09
1,2,Jumanji (1995),Adventure|Children|Fantasy,62.0,magic board game,1.528844e+09

In [10]:
movies_with_tags.tag.unique()

array(['pixar', 'fun', 'fantasy', ..., 'star wars', 'gintama', 'remaster'],
      dtype=object)

In [11]:
movies_with_tags.dropna(inplace=True)

In [12]:
tag_strings = []
movies2 = []

for movie, group in tqdm(movies_with_tags.groupby('title')):
    tag_strings.append(' '.join([str(s).replace(' ', '').replace('-', '') for s in group.tag.values]))
    movies2.append(movie)

HBox(children=(FloatProgress(value=0.0, max=1572.0), HTML(value='')))

In [78]:
movies_tags = pd.DataFrame(list(zip(movies2,tag_strings)), columns=['title', 'tag'])
movies_genres_tags = movies.join(movies_tags.set_index('title'), on='title')
movies_genres_tags['genres'] = movies_genres_tags['genres'].apply(change_string)
movies_genres_tags = movies_genres_tags.dropna()
movies_genres_tags.head()

,movieId,title,genres,tag
0,1,Toy Story (1995),Adventure Animation Children Comedy Fantasy,pixar pixar fun
1,2,Jumanji (1995),Adventure Children Fantasy,fantasy magicboardgame RobinWilliams game
2,3,Grumpier Old Men (1995),Comedy Romance,moldy old
4,5,Father of the Bride Part II (1995),Comedy,pregnancy remake
6,7,Sabrina (1995),Comedy Romance,remake

# Строим рекомедацию на жанрах

In [14]:
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(movies_genres_tags.genres.values)

In [15]:
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)

In [16]:
neig_reg = KNeighborsRegressor(n_neighbors=10, n_jobs=-1, metric='manhattan')
neig_reg.fit(X_train_counts, X_train_tfidf)

KNeighborsRegressor(metric='manhattan', n_jobs=-1, n_neighbors=10)

In [17]:
test = change_string('Adventure|Comedy|Fantasy|Crime')

predict = count_vect.transform([test])
X_tfidf = tfidf_transformer.transform(predict)

predicted_movies = neig_reg.kneighbors(X_tfidf, return_distance=True)
predicted_movies

(array([[1.76082037, 1.76082037, 1.76082037, 1.76082037, 1.76082037,
         1.76542145, 1.96404785, 2.05017702, 2.05017702, 2.05017702]]),
 array([[ 624, 1516,  939,  875,  945, 1262,  217,  653, 1296,  275]],
       dtype=int64))

# Строим рекомедацию на тегах

In [18]:
movies_genres_tags.tag

0                                    pixar pixar fun
1          fantasy magicboardgame RobinWilliams game
2                                          moldy old
4                                   pregnancy remake
6                                             remake
                            ...
9681                      Comedy funny RachelMcAdams
9692    adventure AliciaVikander videogameadaptation
9709                 JoshBrolin RyanReynolds sarcasm
9710                           EmiliaClarke starwars
9732                   anime comedy gintama remaster
Name: tag, Length: 1574, dtype: object

In [86]:
mg_tags2 = movies_genres_tags['tag'].value_counts()

In [87]:
mg_tags2 = mg_tags2.reset_index()

In [88]:
mg_tags2.columns = ['tag', 'count']
mg_tags2

                                                    tag  count
0                                        InNetflixqueue    109
1                                                Disney     15
2                                                aliens     10
3                                           Shakespeare     10
4                                              religion      9
...                                                 ...    ...
1031                                          moldy old      1
1032                                        Disney race      1
1033                                     aviation spoof      1
1034                                      birds parrots      1
1035  atmospheric CoenBrothers JeffBridges MattDamon...      1

[1036 rows x 2 columns]

In [91]:
movies_genres_tags2 =  movies_genres_tags.join(mg_tags2.set_index('tag'), on='tag')

In [92]:
movies_genres_tags2

,movieId,title,genres,tag,count
0,1,Toy Story (1995),Adventure Animation Children Comedy Fantasy,pixar pixar fun,1
1,2,Jumanji (1995),Adventure Children Fantasy,fantasy magicboardgame RobinWilliams game,1
2,3,Grumpier Old Men (1995),Comedy Romance,moldy old,1
4,5,Father of the Bride Part II (1995),Comedy,pregnancy remake,1
6,7,Sabrina (1995),Comedy Romance,remake,3
...,...,...,...,...,...
9681,183611,Game Night (2018),Action Comedy Crime Horror,Comedy funny RachelMcAdams,1
9692,184471,Tomb Raider (2018),Action Adventure Fantasy,adventure AliciaVikander videogameadaptation,1
9709,187593,Deadpool 2 (2018),Action Comedy SciFi,JoshBrolin RyanReynolds sarcasm,1
9710,187595,Solo: A Star Wars Story (2018),Action Adventure Children SciFi,EmiliaClarke starwars,1
9732,193565,Gintama: The Movie (2010),Action Animation Comedy SciFi,anime comedy gintama remaster,1

In [93]:
movies_genres_tags2.loc[movies_genres_tags2['count'] < 5, ['tag']] = ['other']
movies_genres_tags2

,movieId,title,genres,tag,count
0,1,Toy Story (1995),Adventure Animation Children Comedy Fantasy,other,1
1,2,Jumanji (1995),Adventure Children Fantasy,other,1
2,3,Grumpier Old Men (1995),Comedy Romance,other,1
4,5,Father of the Bride Part II (1995),Comedy,other,1
6,7,Sabrina (1995),Comedy Romance,other,3
...,...,...,...,...,...
9681,183611,Game Night (2018),Action Comedy Crime Horror,other,1
9692,184471,Tomb Raider (2018),Action Adventure Fantasy,other,1
9709,187593,Deadpool 2 (2018),Action Comedy SciFi,other,1
9710,187595,Solo: A Star Wars Story (2018),Action Adventure Children SciFi,other,1
9732,193565,Gintama: The Movie (2010),Action Animation Comedy SciFi,other,1

In [94]:
count_vect_tags = CountVectorizer()
X_train_counts2 = count_vect_tags.fit_transform(movies_genres_tags2.tag.values)

In [95]:
tfidf_tags_transformer = TfidfTransformer()
X_train_tfidf2 = tfidf_tags_transformer.fit_transform(X_train_counts2)

In [96]:
neig_reg_tags = KNeighborsRegressor(n_neighbors=10, n_jobs=-1, metric='manhattan')
neig_reg_tags.fit(X_train_counts2, X_train_tfidf2)

KNeighborsRegressor(metric='manhattan', n_jobs=-1, n_neighbors=10)

In [97]:
test_tags = 'mafia funny L.A.'

predict_tags = count_vect_tags.transform([test_tags])
X_tfidf2_tags = tfidf_tags_transformer.transform(predict_tags)

res_tags = neig_reg_tags.kneighbors(X_tfidf2_tags, return_distance=True)
res_tags

(array([[0., 0., 0., 0., 0., 0., 0., 2., 2., 2.]]),
 array([[ 526,  528,  398,  301,  180,  322,    7, 1053, 1052, 1054]],
       dtype=int64))

In [98]:
tfidf_transformer3 = TfidfVectorizer()
tfidf_transformer3.fit(movies_genres_tags['genres'])

TfidfVectorizer()

In [100]:
with_ratings = movies_genres_tags2.merge(ratings)

In [101]:
for_model_df = with_ratings[with_ratings['userId']==75]
for_model_df

,movieId,title,genres,tag,count,userId,rating,timestamp
1597,47,Seven (a.k.a. Se7en) (1995),Mystery Thriller,other,1,75,2.0,1158968272
3859,260,Star Wars: Episode IV - A New Hope (1977),Action Adventure SciFi,other,1,75,5.0,1158989756
8265,515,"Remains of the Day, The (1993)",Drama Romance,other,1,75,2.0,1158989888
8809,541,Blade Runner (1982),Action SciFi Thriller,other,1,75,4.0,1158989785
9585,589,Terminator 2: Judgment Day (1991),Action SciFi,other,1,75,4.5,1158989827
9970,592,Batman (1989),Action Crime Thriller,superhero,8,75,3.5,1158989896
12754,903,Vertigo (1958),Drama Mystery Romance Thriller,other,1,75,1.0,1158968143
12920,908,North by Northwest (1959),Action Adventure Mystery Romance Thriller,other,1,75,4.5,1158967045
13075,912,Casablanca (1942),Drama Romance,other,1,75,4.0,1158967840
13405,920,Gone with the Wind (1939),Drama Romance War,other,4,75,3.0,1158967791
13568,924,2001: A Space Odyssey (1968),Adventure Drama SciFi,other,1,75,3.5,1158967613
13685,928,Rebecca (1940),Drama Mystery Romance Thriller,other,1,75,4.5,1158967852
14874,1090,Platoon (1986),Drama War,Vietnam,6,75,1.0,1158967824
15809,1196,Star Wars: Episode V - The Empire Strikes Back...,Action Adventure SciFi,other,1,75,4.5,1158990239
16162,1198,Raiders of the Lost Ark (Indiana Jones and the...,Action Adventure,other,1,75,4.5,1158990045
16350,1200,Aliens (1986),Action Adventure Horror SciFi,other,1,75,2.5,1158967713
16593,1204,Lawrence of Arabia (1962),Adventure Drama War,other,1,75,3.5,1158989794
17301,1214,Alien (1979),Horror SciFi,aliens,10,75,4.5,1158967602
18133,1234,"Sting, The (1973)",Comedy Crime,other,1,75,4.5,1158967139
18249,1240,"Terminator, The (1984)",Action SciFi Thriller,other,1,75,4.0,1158990196
18781,1253,"Day the Earth Stood Still, The (1951)",Drama SciFi Thriller,aliens,10,75,4.0,1158982941
19155,1266,Unforgiven (1992),Drama Western,other,4,75,4.0,1158967216
19864,1291,Indiana Jones and the Last Crusade (1989),Action Adventure,other,1,75,4.5,1158990090
20711,1372,Star Trek VI: The Undiscovered Country (1991),Action Mystery SciFi,other,1,75,4.0,1158968308
20755,1374,Star Trek II: The Wrath of Khan (1982),Action Adventure SciFi Thriller,other,1,75,2.0,1158967591
20815,1376,Star Trek IV: The Voyage Home (1986),Adventure Comedy SciFi,other,1,75,4.0,1158967212
22168,1610,"Hunt for Red October, The (1990)",Action Adventure Thriller,other,2,75,4.0,1158989841
22507,1653,Gattaca (1997),Drama SciFi Thriller,other,1,75,2.0,1158967079
23050,1721,Titanic (1997),Drama Romance,other,1,75,2.5,1158967893
24211,1962,Driving Miss Daisy (1989),Drama,other,1,75,4.5,1158967875
25060,2078,"Jungle Book, The (1967)",Animation Children Comedy Musical,Disney,15,75,5.0,1158982700
25320,2115,Indiana Jones and the Temple of Doom (1984),Action Adventure Fantasy,other,1,75,3.5,1158990116
27027,2467,"Name of the Rose, The (Name der Rose, Der) (1986)",Crime Drama Mystery Thriller,religion,9,75,4.0,1158989849
27264,2529,Planet of the Apes (1968),Action Drama SciFi,other,3,75,1.5,1158967238
27376,2571,"Matrix, The (1999)",Action SciFi Thriller,other,1,75,1.0,1158967564
27817,2628,Star Wars: Episode I - The Phantom Menace (1999),Action Adventure SciFi,other,1,75,1.0,1158967457
27949,2640,Superman (1978),Action Adventure SciFi,superhero,8,75,1.5,1158967058
30972,3176,"Talented Mr. Ripley, The (1999)",Drama Mystery Thriller,other,1,75,1.0,1158968301
34033,4306,Shrek (2001),Adventure Animation Children Comedy Fantasy Ro...,other,1,75,4.0,1158982794
35519,4993,"Lord of the Rings: The Fellowship of the Ring,...",Adventure Fantasy,other,1,75,5.0,1158967649
35820,5008,Witness for the Prosecution (1957),Drama Mystery Thriller,other,1,75,4.0,1158968122
36248,5445,Minority Report (2002),Action Crime Mystery SciFi Thriller,other,1,75,2.0,1158967067
37036,5952,"Lord of the Rings: The Two Towers, The (2002)",Adventure Fantasy,other,1,75,4.0,1158982929
39171,6870,Mystic River (2003),Crime Drama Mystery,other,1,75,1.0,1158968174
39720,7153,"Lord of the Rings: The Return of the King, The...",Action Adventure Drama Fantasy,other,1,75,4.0,1158967110
40543,8360,Shrek 2 (2004),Adventure Animation Children Comedy Musical Ro...,other,1,75,4.0,1158982806
41435,8961,"Incredibles, The (2004)",Action Adventure Animation Children Comedy,other,1,75,4.0,1158982785
42331,33493,Star Wars: Episode III - Revenge of the Sith (...,Action Adventure SciFi,other,1,75,0.5,1158967510
42529,34405,Serenity (2005),Action Adventure SciFi,other,1,75,4.0,1158967581

In [102]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [121]:
X, y = tfidf_transformer3.transform(for_model_df['genres']), for_model_df['rating']

In [122]:
from sklearn.model_selection import train_test_split

In [123]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2)

In [124]:
lr.fit(X_train, y_train)

LinearRegression()

In [125]:
predicted = lr.predict(X_test)

In [126]:
for_model_df

,movieId,title,genres,tag,count,userId,rating,timestamp
1597,47,Seven (a.k.a. Se7en) (1995),Mystery Thriller,other,1,75,2.0,1158968272
3859,260,Star Wars: Episode IV - A New Hope (1977),Action Adventure SciFi,other,1,75,5.0,1158989756
8265,515,"Remains of the Day, The (1993)",Drama Romance,other,1,75,2.0,1158989888
8809,541,Blade Runner (1982),Action SciFi Thriller,other,1,75,4.0,1158989785
9585,589,Terminator 2: Judgment Day (1991),Action SciFi,other,1,75,4.5,1158989827
9970,592,Batman (1989),Action Crime Thriller,superhero,8,75,3.5,1158989896
12754,903,Vertigo (1958),Drama Mystery Romance Thriller,other,1,75,1.0,1158968143
12920,908,North by Northwest (1959),Action Adventure Mystery Romance Thriller,other,1,75,4.5,1158967045
13075,912,Casablanca (1942),Drama Romance,other,1,75,4.0,1158967840
13405,920,Gone with the Wind (1939),Drama Romance War,other,4,75,3.0,1158967791
13568,924,2001: A Space Odyssey (1968),Adventure Drama SciFi,other,1,75,3.5,1158967613
13685,928,Rebecca (1940),Drama Mystery Romance Thriller,other,1,75,4.5,1158967852
14874,1090,Platoon (1986),Drama War,Vietnam,6,75,1.0,1158967824
15809,1196,Star Wars: Episode V - The Empire Strikes Back...,Action Adventure SciFi,other,1,75,4.5,1158990239
16162,1198,Raiders of the Lost Ark (Indiana Jones and the...,Action Adventure,other,1,75,4.5,1158990045
16350,1200,Aliens (1986),Action Adventure Horror SciFi,other,1,75,2.5,1158967713
16593,1204,Lawrence of Arabia (1962),Adventure Drama War,other,1,75,3.5,1158989794
17301,1214,Alien (1979),Horror SciFi,aliens,10,75,4.5,1158967602
18133,1234,"Sting, The (1973)",Comedy Crime,other,1,75,4.5,1158967139
18249,1240,"Terminator, The (1984)",Action SciFi Thriller,other,1,75,4.0,1158990196
18781,1253,"Day the Earth Stood Still, The (1951)",Drama SciFi Thriller,aliens,10,75,4.0,1158982941
19155,1266,Unforgiven (1992),Drama Western,other,4,75,4.0,1158967216
19864,1291,Indiana Jones and the Last Crusade (1989),Action Adventure,other,1,75,4.5,1158990090
20711,1372,Star Trek VI: The Undiscovered Country (1991),Action Mystery SciFi,other,1,75,4.0,1158968308
20755,1374,Star Trek II: The Wrath of Khan (1982),Action Adventure SciFi Thriller,other,1,75,2.0,1158967591
20815,1376,Star Trek IV: The Voyage Home (1986),Adventure Comedy SciFi,other,1,75,4.0,1158967212
22168,1610,"Hunt for Red October, The (1990)",Action Adventure Thriller,other,2,75,4.0,1158989841
22507,1653,Gattaca (1997),Drama SciFi Thriller,other,1,75,2.0,1158967079
23050,1721,Titanic (1997),Drama Romance,other,1,75,2.5,1158967893
24211,1962,Driving Miss Daisy (1989),Drama,other,1,75,4.5,1158967875
25060,2078,"Jungle Book, The (1967)",Animation Children Comedy Musical,Disney,15,75,5.0,1158982700
25320,2115,Indiana Jones and the Temple of Doom (1984),Action Adventure Fantasy,other,1,75,3.5,1158990116
27027,2467,"Name of the Rose, The (Name der Rose, Der) (1986)",Crime Drama Mystery Thriller,religion,9,75,4.0,1158989849
27264,2529,Planet of the Apes (1968),Action Drama SciFi,other,3,75,1.5,1158967238
27376,2571,"Matrix, The (1999)",Action SciFi Thriller,other,1,75,1.0,1158967564
27817,2628,Star Wars: Episode I - The Phantom Menace (1999),Action Adventure SciFi,other,1,75,1.0,1158967457
27949,2640,Superman (1978),Action Adventure SciFi,superhero,8,75,1.5,1158967058
30972,3176,"Talented Mr. Ripley, The (1999)",Drama Mystery Thriller,other,1,75,1.0,1158968301
34033,4306,Shrek (2001),Adventure Animation Children Comedy Fantasy Ro...,other,1,75,4.0,1158982794
35519,4993,"Lord of the Rings: The Fellowship of the Ring,...",Adventure Fantasy,other,1,75,5.0,1158967649
35820,5008,Witness for the Prosecution (1957),Drama Mystery Thriller,other,1,75,4.0,1158968122
36248,5445,Minority Report (2002),Action Crime Mystery SciFi Thriller,other,1,75,2.0,1158967067
37036,5952,"Lord of the Rings: The Two Towers, The (2002)",Adventure Fantasy,other,1,75,4.0,1158982929
39171,6870,Mystic River (2003),Crime Drama Mystery,other,1,75,1.0,1158968174
39720,7153,"Lord of the Rings: The Return of the King, The...",Action Adventure Drama Fantasy,other,1,75,4.0,1158967110
40543,8360,Shrek 2 (2004),Adventure Animation Children Comedy Musical Ro...,other,1,75,4.0,1158982806
41435,8961,"Incredibles, The (2004)",Action Adventure Animation Children Comedy,other,1,75,4.0,1158982785
42331,33493,Star Wars: Episode III - Revenge of the Sith (...,Action Adventure SciFi,other,1,75,0.5,1158967510
42529,34405,Serenity (2005),Action Adventure SciFi,other,1,75,4.0,1158967581

In [127]:
y_test

40543    4.0
12920    4.5
16593    3.5
27376    1.0
34033    4.0
39171    1.0
19155    4.0
27264    1.5
9970     3.5
30972    1.0
Name: rating, dtype: float64

# Оценить RMSE на тестовой выборке

In [128]:
from sklearn.metrics import mean_squared_error

In [129]:
mean_squared_error(y_test, predicted)

3.1968232562769856