In [20]:
from surprise import KNNWithMeans, KNNBasic
from surprise import Dataset
from surprise import accuracy
from surprise import Reader
from surprise.model_selection import train_test_split
from surprise import SVD
from surprise.model_selection import cross_validate

import pandas as pd

In [21]:
movies = pd.read_csv('E:\\Python\\RSML-2\\RSML_HW1\\movies.csv')
ratings = pd.read_csv('E:\\Python\\RSML-2\\RSML_HW1\\ratings.csv')

In [22]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [23]:
movies_with_ratings = movies.join(ratings.set_index('movieId'), on='movieId').reset_index(drop=True)
movies_with_ratings.dropna(inplace=True)

In [24]:
dataset = pd.DataFrame({
    'uid': movies_with_ratings.userId,
    'iid': movies_with_ratings.title,
    'rating': movies_with_ratings.rating
})

In [25]:
reader = Reader(rating_scale=(0.5, 5.0))
data = Dataset.load_from_df(dataset, reader)

In [79]:
algo = SVD(n_factors = 20, n_epochs = 20)

In [80]:
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5)

{'test_rmse': array([0.8660934 , 0.85963777, 0.86666212, 0.87386031, 0.87932839]),
 'test_mae': array([0.66524651, 0.66571881, 0.66556348, 0.6701186 , 0.67488679]),
 'fit_time': (2.0347158908843994,
  2.062014579772949,
  2.0776352882385254,
  2.0776357650756836,
  2.1089084148406982),
 'test_time': (0.2030787467956543,
  0.2030792236328125,
  0.20308184623718262,
  0.10934948921203613,
  0.18742632865905762)}